.fifthpage {

    &__icon {
        max-height: 200px;
        margin-bottom: 10px;

        @mixin atSmall {
            max-height: 400px;
        }

        @mixin atLarge {
            max-height: 500px;
        }
    }

    &__3 {
        width: 85%;
        background-color: brown;
        text-align: center;
        padding: 0 15px;
        margin: auto;
        display: none;

        @mixin atLarge {
            float: left;
            width: 25%;
        }
    }

    &__4 {
        width: 85%;
        background-color: bisque;
        padding: 0 15px;
        margin: auto;
        display: block;

        @mixin atLarge {
            float: left;
            width: 33.33%;
            display: block;
        }
    }

    &__6 {
        float: left;
        width: 50%;
        background-color: aquamarine;
        padding: 0 5px;

        img {
            float: left;
                margin-right: 10px;
                max-width: 50px;
            @mixin atSmall {
                margin-right: 40px;
                max-width: 80px;
            }
        }

        div {
            float: left;
            width: 100%;
            margin: 10px 0;
            @mixin atLarge {
            }
        }
    }

    &__col {
        max-width: 230px;
        background-color: beige;
        margin: auto;
    }

    &__icon--colors--one-col {
        max-width: 30px;

        @mixin atSmall {
            max-width: 60px;
        }
    }

    &__icon--colors--two-col {
        max-width: 150px;
    }

    &__small-screen-section-title-and-description {
        display: block;

        @mixin atLarge {
            display: none;
        }

        &__title {
            font-size: 1rem;

            @mixin atSmall {
                font-size: 1.3rem;
            }
        }

        &__description {
            font-size: .9rem;

            @mixin atSmall {
                font-size: 1rem;
            }
        }

        &__showmore {
            display: block;
            max-width: 20px;
            margin: auto;
    
            @mixin atLarge {
                display: none;
            }

            &--diverce {
                transform: rotate(180deg);
                display: block;
                max-width: 20px;
                margin: auto;
    
                @mixin atLarge {
                    display: none;
                }
            }
        }
    }

    &__big-screen-section-title-and-description {
        display: none;

        @mixin atLarge {
            display: block;
        }
    }

    &__accessories-description {
        font-size: .7rem;

        @mixin atSmall {
            font-size: 1rem;
        }
    }

    h3 {
        margin: .5em 0;
        @mixin atSmall {
            margin: 1em 0;
        }
    }
}

.ace__img {
    transition: all .5s ease-out;
}

.ace__img--bigger {
    transform: scale(1.5);
}

