.hor-centralizer-wrapper {
    max-width: 330px;
    background-color: red;
    margin: auto;

    @mixin atSmall {
        max-width: 650px;
    }

    @mixin atMedium {
        max-width: 900px;
    }

    @mixin atLarge {
        max-width: 1200px;
        
    }

    &--bigger-pages {
        max-width: 95%;
        
        @mixin atLarge {
            max-width: 80%;
        }
    }

}