.sixthpage {
    text-align: center;
    

    &_title {
        margin: 0 auto;
        padding-bottom: 5%;

        @mixin atSmall {
            padding-bottom: 18%;
        }

        @mixin atMedium {
            padding-bottom: 5%;
        }

        @mixin atLarge {
            padding-bottom: 9%;
        }
    }

    &__4 {
        text-align: left;
        width: 25%;
        float: left;

        & > div {
            min-height: 100px;

            @mixin atSmall {
                min-height: 140px;
            }
        }

        @mixin atLarge {
            float: left;
            width: 25%;
        }
    }

    &__col {
        max-width: 230px;
        /* background-color: beige; */
        margin: auto;
    }

    &__color--icon-one-row {
        max-width: 22px;

        @mixin atSmall {
            max-width: 37px;
        }

        @mixin atLarge {
            max-width: 56px;
        }
    }

    &__color--icon-two-row {
        max-width: 50px;

        @mixin atSmall {
            max-width: 80px;
        }

        @mixin atLarge {
            max-width: 120px;
        }
    }

    &__color--icon-three-row {
        max-width: 75px;
        
        @mixin atSmall {
            max-width: 120px;
        }

        @mixin atLarge {
            max-width: 180px;
        }
    }

    

    &__color-title {
        font-size: .6rem;

        @mixin atSmall {
            font-size: 1rem;
        }
    }
}

