.slider {
    
    &_img {
        height: 280px;
    }

    &_description {

        background-color: aquamarine;

        @mixin atLarge {
            height: 110px;
            opacity: 0;
            transition: all .5s ease-out;
        }
    }

    &_description--visible {
        opacity: 1;
    }
}

.swiper-slide {
    background-color: azure;

    @mixin atLarge {
        transform: scale(.65);
        transition: all .5s ease-out;
    }
    
    &--bigger {
        transform: scale(1);
    }
}

.swiper-container {

    @mixin atSmall {
        margin-bottom: 18%;
    }

    @mixin atMedium {
        margin-bottom: 0;
    }

    @mixin atLarge {
        margin-bottom: 9%;
    }
}