.slider {
    
    &__img {
        height: 280px;
    }

    &__description {

        background-color: aquamarine;

        @mixin atLarge {
            height: 110px;
            opacity: 0;
            transition: all .5s ease-out;
        }
    }

    &__description--visible {
        opacity: 1;
    }
}

.swiper-slide {
    background-color: azure;

    &__swiper-1 {

        @mixin atLarge {
            transform: scale(.65);
            transition: all .5s ease-out;
        }
    }

    &--bigger {
        transform: scale(1);
    }

    &--swiper-3 {
        text-align: center;
        
        img {
            max-width: 250px;
            max-height: 400px;
        }
    }
}

.swiper-1 {

    @mixin atSmall {
        margin-bottom: 18%;
    }

    @mixin atMedium {
        margin-bottom: 0;
    }

    @mixin atLarge {
        margin-bottom: 9%;
    }
}